In [2]:
import pandas as pd

In [7]:
data = pd.read_csv('/Users/julieagwu/Library/Mobile Documents/com~apple~CloudDocs/GB Power Market/Settlement Data/data/cleanedsettlement.csv')
data.set_index('Time', inplace=True)
data.head()

          SystemBuyPrice  NetImbalanceVolume        Date
Time
00:00:00           45.32         -140.641667  2024-09-09
00:30:00           60.12           -5.233333  2024-09-09
01:00:00          102.50           19.522222  2024-09-09
01:30:00           49.44          -87.358333  2024-09-09
02:00:00          104.00          263.658333  2024-09-09